<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tee.springcloudsel.order.mapper.OrderMasterMapper">
    <resultMap id="orderMasterResultMap" type="com.tee.springcloudsel.order.domain.OrderMaster">
        <id column="orderId" property="order_id" jdbcType="VARCHAR"/>
        <result property="buyerName" column="buyer_name" jdbcType="VARCHAR"/>
        <result property="buyerPhone" column="buyer_phone" jdbcType="VARCHAR"/>
        <result property="buyerAddress" column="buyer_address" jdbcType="VARCHAR"/>
        <result property="buyerOpenid" column="buyer_openid" jdbcType="DECIMAL"/>
        <result property="orderAmount" column="order_amount" jdbcType="VARCHAR"/>
        <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
        <result property="payStatus" column="pay_status" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allColumns">
        order_id,           buyer_name,         buyer_phone,
        buyer_address,      buyer_openid,       order_amount,
        order_status,       pay_status,         create_time,
        update_time
    </sql>

    <select id="selectAll" resultMap="orderMasterResultMap">
        SELECT
          <include refid="allColumns"/>
        FROM
          order_master
        ORDER BY create_time desc;
    </select>

    <select id="selectById" parameterType="String" resultMap="orderMasterResultMap">
        SELECT
          <include refid="allColumns"/>
        FROM
          order_master
        WHERE
          order_id = #{orderId}
    </select>


    <insert id="saveOrderMaster" parameterType="com.tee.springcloudsel.order.domain.OrderMaster">
        INSERT INTO order_master
        (
            order_id,           buyer_name,         buyer_phone,
            buyer_address,      buyer_openid,       order_amount,
            order_status,       pay_status,         create_time,
            update_time
        )VALUES(
            #{orderId},           #{buyerName},         #{buyerPhone},
            #{buyerAddress},      #{buyerOpenid},       #{orderAmount},
            #{orderStatus},       #{payStatus},         #{createTime},
            #{updateTime}
        )
    </insert>
</mapper>

